$primary-color: #66b3ff;

body {
  background-color: lighten($primary-color, 20%);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
  width: 100px;
}

header {
  text-align: center;
  height: 100px;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 10px 10px darken($primary-color, 20%);

  ul {
    display: flex;
    justify-content: space-between;
  }

  &:hover {
    transform: scale(1.05);
    transition: all 0.7s ease-in;
  }
}

.place {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.links li {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}
